.categories-menu {
  grid-column: 1 / 2;
  margin-top: 1rem;
}

.menu-title {
  padding-bottom: .2rem;
  border-bottom: .15rem solid #F2F2F2;
}

.categories-menu h2 {
  margin: .5rem 0;
  padding: 1rem 1rem;
}

.list-categories {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.category-link {
  padding: .8rem 1rem;
  text-transform: uppercase;
  color: #757575;
}

.category-link:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

.active-link {
  background-color: #F2F2F2;
  border-left: .2rem solid #757575;
}